# .registration adheres to CRAN's modern protocols
useDynLib(StochKit2R, .registration=TRUE)
export(ssa, ssaSingle, tauLeaping, plotStats, plotTrajectories, plotHistogram, histogramDistance, ode, writeEnsembleData, readEnsembleData)
importFrom(Rcpp, evalCpp)
importFrom(RcppXPtrUtils, cppXPtr)
importFrom(R.utils, mkdirs)
importFrom("stats", "runif", "time")
importFrom("utils", "read.table","write.table")
import(reshape, ggplot2, XML)
