useDynLib(StochKit2R)
export(ssa,ssaSingle,tauLeaping,plotStats,plotTrajectories,plotHistogram,histogramDistance,ode)
importFrom(Rcpp, evalCpp)
importFrom(RcppXPtrUtils, cppXPtr)
importFrom(R.utils, mkdirs)
importFrom("stats", "runif", "time")
importFrom("utils", "read.table")
import(reshape, ggplot2, XML)
